@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #743030;
    --color-secondary: #f1bf04;
    --color-accent: #e2ceb1;
    --color-neutral: #ebe8e8(255, 211, 255);
    --color-white: #fff;
    --color-black: #000;
    --color-gray: rgba(0, 0, 0, 0.305) 0;
    --color-danger: red;
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --shadow-medium: rgba(0, 0, 0, 0.2);
    --shadow-light: rgba(0, 0, 0, 0.1);
}
